{
  "all": true,
  "include": [
    "lib/**/*.ts"
  ],
  "exclude": [
    "lib/http/output/service.ts"
  ],
  "reporter":[
    "text-summary",
    "html",
    "lcovonly"
  ],
  "report-dir": ".nyc_output/coverage"
}